<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ pokemon?.name | titlecase }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="pokemon">
    <ion-card-content>
      <ion-card>
        <div class="front">
          <img [src]="pokemon.sprites.other.showdown?.front_default" alt="{{ pokemon.name }}"
          loading="lazy">
          <img [src]="pokemon.sprites.other.showdown?.front_shiny" alt="{{ pokemon.name }}"
          loading="lazy">
        </div>
        <div class="back">
          <img [src]="pokemon.sprites.other.showdown?.back_default" alt="{{ pokemon.name }}"
          loading="lazy">
          <img [src]="pokemon.sprites.other.showdown?.back_shiny" alt="{{ pokemon.name }}"
          loading="lazy">
        </div>
        <ion-card-header>
          <div>
          <ion-card-title>{{ pokemon?.name | titlecase }}</ion-card-title>
            <ion-card-subtitle>
              <p>Types:</p>
              <ul>
                <li *ngFor="let type of pokemon.types">
                  {{ type.type.name }}
                </li>
              </ul>
              <p>Abilities:</p>
              <ul>
                <li *ngFor="let ability of pokemon.abilities">
                  {{ ability.ability.name }}
                </li>
              </ul>
            </ion-card-subtitle>
          </div>
          <div>
            <ion-button (click)="navigateToMoves()">Moves</ion-button>
          </div>
        </ion-card-header>
      
        <ion-card-content>
            <ion-list>
              <ion-item *ngFor="let stat of pokemon.stats">
                <ion-thumbnail slot="start">
                  <ion-label class="stat">{{ statMapping[stat.stat.name] || stat.stat.name }}</ion-label>
                </ion-thumbnail>
                <div class="stat-container">
                  <span class="stat-value">{{ stat.base_stat }}</span>
                  <div class="stat-bar" [style.width.px]="stat.base_stat" [style.backgroundColor]="getStatColor(stat.base_stat)"></div>
                </div>
              </ion-item>
            </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-card-content>
</ion-content>
